/* Global Styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgb(38, 38, 38);
    font-size: 16px;
}

h1{
    margin-top: 2vw;
}
.body {
    padding-top: 12vw; /* Ajustez cette valeur selon la hauteur de votre bandeau de navigation */
}

.auCentre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bandeauFixe {
    display: flex; /* Utiliser flexbox */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* S'assurer que le bandeau est au-dessus du contenu */
    color: rgb(236, 211, 54);
    height: 180px;
    background-color: rgb(28, 187, 187);
    border-bottom: 1px solid rgb(236, 211, 54);
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
#menuPrincipal{
    height: 80%;
    margin-top: 3vw;
}

#menuPrincipal > li {
    position: relative;
    float: left;
    margin: 10px;
  }

  #menuPrincipal li a:hover {
    color: rgb(236, 211, 54) /* Couleur de fond au survol */
}
  

.Amplificator {
    display: flex;
    justify-content: center;
    width: 50%;
    margin-bottom: 10px;
}

#titre {
    max-width: 100%;
    height: auto;
}

.menuPrincipal {
    width: 100%;
}

#menuPrincipal {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menuPrincipal li {
    margin: 0 1rem;
    margin-bottom: 10px;
}

#menuPrincipal li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}



.logoParcContainer {
    position: absolute;
    display: flex;
    justify-content: flex-end; /* Pushes the .logoParc to the right */
    width: auto; /* Ensure it does not take full width */
    margin-left: 80vw;
}

.logoParc {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60%;
    margin-top: 20px;
    text-align: center;
}

.logoParc img {
    margin-left: 10px;
    height: 36px; /* Adjust height as needed */
}

.logoParc p {
    font-size: 0.9375rem;
    margin-bottom: 5px;
}

#afficheProjet {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
/*--------------Acceuil--------*/
#h1Acceuil {
    text-align: center;
    -webkit-text-fill-color: transparent; /* Masque la couleur du texte pour Safari */
    -webkit-background-clip: text; /* Utilise le texte comme clip pour l'arrière-plan */
    background-clip: text; /* Utilise le texte comme clip pour l'arrière-plan */
    background-color: white;
    text-shadow: 0 0 0 rgb(28,187,187),/* Ombre de texte noire pour bordure */
                 1px 1px 0 rgb(28,187,187),
                 -1px -1px 0 black,
                 1px -1px 0 rgb(28,187,187),
                 -1px 1px 0 rgb(28,187,187);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; /* Police élégante */
    font-size: 36px; /* Taille de police grande */
    margin-bottom: -8vw;
    line-height: 1.5; /* Espacement des lignes pour une meilleure lisibilité */
}
#Fablab{
    text-decoration: none; /* Supprime la décoration de lien par défaut */
    color: black;
    transition: color 0.3s; 
    text-align: center;
}

#lienWiki{
    text-decoration: none; /* Supprime la décoration de lien par défaut */
    color: rgb(28,187,187);
    transition: color 0.3s; 
    text-align: center;
    margin-bottom: 2vw;
    font-size: 30px;
}
#lienWiki:hover{
    text-decoration:underline;
}

#planVert{
    padding: 2vw;
    margin: 2vw;
    border-radius: 4px;
    background-color: rgba(181, 209, 19, 0.925);
    font-size: 20px;
}

/*--------------Equipe--------*/
#lesCategories {
    margin-inline: 20px;
}

#nomCat {
    font-weight: normal;
    margin-left: 15px;
    font-size: 1.25rem;
}

/*------------Deroule---------*/
#boutonDeroule {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28,187,187);
    border-radius: 7px;
    margin-bottom: 20px;
    border: 1.5px solid rgb(236, 211, 54);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 5vw;
}


#imageDeroule {
    height: 1.9vw;
    width: 2.2vw;
}

#commentDerouler {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center; /* Pour centrer les éléments horizontalement */
}

#commentDerouler:hover {
    color: white;
    text-decoration: underline;
}

/* ------------ Realisations ------------ */
#realisations {
    margin: 10%;
    text-align: center;
    margin-top: 0%;
}
#realisations a{
    font-size: 30px;
    color: rgb(22, 75, 160);
}

#realisations h1 {
    font-size: 2.5rem;
    color: rgb(22, 75, 160);
    margin-bottom: 20px;
}

#realisations p {
    font-size: 1.2rem;
    color: rgb(38, 38, 38);
    line-height: 1.6;
}

.realisation-card {
    background-color: rgb(236, 211, 54);
    border: 1px solid rgb(22, 75, 160);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.realisation-card h2 {
    color: rgb(28, 187, 187);
}

.realisation-card p {
    color: rgb(38, 38, 38);
}

.realisation-card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.realisation-card .content {
    display: flex;
    align-items: center;
}

.realisation-card .content img {
    margin-right: 10px; /* Pour un espace entre l'image et la description */
}

.realisation-card .content p {
    margin: 0; /* Supprime la marge par défaut du paragraphe */
    width: 80%;
}

/*----------Pistolet-----------*/
#imagePistolet{
    width: 90%
}

#aDroite {
    text-align: center;
}


#aGauche p {
    padding: 15px;
    border-radius: 8px;
    margin-top: 10%;
}

#enBas h2 {
    color: #555;
    font-size: 20px;
}

#enBas {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
    list-style-type: none;
}

a {
    color: #007BFF;
    text-decoration: none;
}

#enBas a{
    font-size: 20px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (min-width: 768px) {
    #aDroite, #aGauche {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }

    #aDroite {
        text-align: right;
    }

    #aGauche {
        text-align: left;
    }
}

/*----------------Boitier----------------*/
#imageBoitier{
    width: 30%;
}

/*-----------Electronique------------*/
#imageElectronique{
    width: 40%;
    align-items: center;
}
#imageElectronique2{
    width: 60%;
    align-items: center;
}

/*------------Test------------------*/
#imageTest{
    width: 20%;
}



.contentTest ul {
    margin: 10px 0;
    padding-left: 20px;
}

.contentTest p {
    margin-bottom: 10px;
    line-height: 1.5;
}
.problemes {
    display: flex;
    justify-content: space-between;
}

#gauche, #droit {
    width: 48%;
    border: 1.5px solid rgb(28, 187, 187); 
    border-radius: 4px;
    margin: 2%;
    padding: 2%;
}

/*---------------Footer--------------*/
.footer {
    background-color:rgb(28, 187, 187);
    color: rgb(236, 211, 54);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid rgb(236, 211, 54);
}

.Adroite, .AGauche {
    flex: 1;
    text-align: center;
}

.Adroite h2, .AGauche h2 {
    font-size: 16px;
    margin-bottom: 10px;
}

.AuCentre {
    flex: 1;
    text-align: center;
}

#logoENSC {
    width: 40%;
    height: auto;
}

.AGauche p {
    font-size: 14px;
    margin: 5px 0;
}

/*-----------Futur--------------*/
.text-projet {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 20px; /* Marge de 20px à droite et à gauche */
    text-align: left;
}